* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: calc(100% - 2px);
  border: 1px solid mediumblue;
  margin: auto;
}

header {
  width: calc(100% - 2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background-color: mediumblue;
  color: aliceblue;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
}

footer {
  width: calc(100% - 2px);
  display: grid;
  place-content: center;
  padding: 0.25rem;
  background-color: mediumblue;
  color: aliceblue;
}

.addForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem 0.25rem;
  margin: 0.5rem 0 0;
  width: 100%;
}

.addForm label {
  position: absolute;
  left: -10000px;
}

.addForm input[type="text"] {
  flex-grow: 1;
  width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: limegreen;
  color: white;
}
